.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
}
.naslov{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.forma{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.div-cijena{
    margin: 20px;
}
.labelCijena{
    font-size: 20px;
}
.cijena{
    font-size: 30px;
    font-weight: bolder;
}
.radio-buttoni{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
/* HIDE RADIO */ 
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 0px;
  } 
/*IMAGE STYLES */
[type=radio] + img{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vh;
}
img{
    width: 55px;
    height: 55px;
}
/* CHECKED STYLES */
[type=radio]:checked + img{
background-color: #d7eaff;
border-radius: 10px;
}

select {
    margin-top: 10px;
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color:#d7eaff;
    text-align: center;
    font-size: 0.9rem;
  }
.kategorije {
    width: 100%;
    margin: 30px;
    justify-content: center;
}
.radio-buttoni{
    margin-top: 10px;
}
.radio label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.button-ruta{
  border: 0;
  background: #a9cdf7;
  border-radius: 5px;
  padding: 1rem 1rem;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: bold;

}
.select-ulazna{
    margin-bottom: 15px;
}
/*za mobitel*/
@media (max-width: 768px) {
    .container{
        width: 100%;
        min-height: 100%;
        box-shadow: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        background-color: #fafafa;
    }
    .naslov{
        font-size: 15px;
        background-color: #a9cdf7;
        width: 100%;
        color: white;
        text-shadow: 0.5px 0.5px grey;
    }
    .radio-buttoni{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* HIDE RADIO */ 
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0px;
        height: 0px;
      } 
    /*IMAGE STYLES */
    [type=radio] + img{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5px;
        background-color: #fafafa;
    }
    img{
        width: 45px;
        height: 45px;
    }
    [type=radio]:checked + img{
      background-color: #d7eaff;
      border-radius: 10px;
      box-shadow: 3px 3px 3px grey;
      margin-bottom: 5px;
    }
    
    select {
        margin: 10px 10px 20px 10px;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color:#d7eaff;
        text-align: center;
        font-size: 0.9rem;
        width: 95%;
        box-shadow: 3px 3px 3px grey;
      }
    .kategorije {
        width: 100%;
        margin: 10px 0px 30px 0px;
        justify-content: center;
    }
    .button-ruta{
      border: 0;
      background: #a9cdf7;
      border-radius: 5px;
      padding: 1rem 1rem;
      font-size: 1rem;
      line-height: 1;
      letter-spacing: 1px;
      font-weight: bold;
      align-self: center;
      width: 50%;
      margin-bottom: 50px;
    }
    .select-ulazna{
        margin-bottom: 15px;
    }
    .izaberi-label{
        margin-left: 10px;
    }
    .div-cijena{
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .labelCijena{
        font-size: 20px;
        margin-right: 10px;
    }
    .cijena{
        font-size: 30px;
        font-weight: bolder;
    }
  }