html,
body {
  height: 100%;
}
body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 540px;
  background-color: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}
.content {
  margin: 30px;
}
.zatvori-button {
  border: 0;
  background: #a9cdf7;
  border-radius: 5px;
  padding: 1rem 1rem;
  font-size: 1rem;
  line-height: 1;
  width: 92%;
  margin: 10px;
  transform: translateY(-20px);
  font-weight: bold;
  letter-spacing: 1px;
}
.duljina-vrijeme{
  display: flex;
  justify-content: space-between;
  transform: translateY(-10px);
  font-weight: 500;
}